div{
	position:absolute;
	opacity: 0.9;
	transform:translate(-50%, -50%);
//margin: -25px -30px -25px -30px;
  padding:0px 6px 0px 0px;
  height: 60px;
  width: 50px;
  border-radius: 15px;
//  border-bottom-left-radius: 1px;
 
  background-image: linear-gradient(#2a2, #aea);
  -webkit-box-shadow: 3px 3px 5px;
  -moz-box-shadow: 3px 3px 5px;
  box-shadow: 1px 1px 3px #2a2;   
}

table {
  text-align: center;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  border-collapse: collapse;
  border-style: hidden;
}

td, tr{
  background: transparent ;
  padding:6px;
  color: #222;
}
