<!--header-->
<h2>
  Configuracion general
  <button class="boton1"  (click)="this.configGeneralDisabled = false" >
    <img src="assets/images/edit_icon.png" height="30px"/>
  </button></h2>
<hr>

<!--formulario datos generales-->
<form class="form-style-2" #formGeneral="ngForm" 
    (ngSubmit)="onSubmitConfigGral()" ngNativeValidate>
  <fieldset [disabled]="configGeneralDisabled">
  <label><span>Razón social: </span>
    <input name="razonSocial" type="text" 
    [(ngModel)]="empresa.razonSocial" required >
  </label>

  <label *ngIf="empresa.id"><span>Cambiar contraseña de configuración: </span>
    <input name="cambiaPass" type="checkbox" 
    [(ngModel)]="cambiaPass">
  </label>

  <label *ngIf="empresa.id"><span>Contraseña actual: </span>
    <input name="passActual" type="password" 
    [(ngModel)]="passActual" 
    [disabled]="!cambiaPass" required >
  </label>

  <label><span>Nueva contraseña: </span>
    <input name="passConfigNueva" type="password" 
    [(ngModel)]="empresa.passwordConfiguracion" 
    [disabled]="!cambiaPass" required >
  </label>

  <label><span>Repetir nueva contraseña: </span>
    <input name="passNueva2" type="password" 
    [(ngModel)]="passNueva2" 
    [disabled]="!cambiaPass" required >
  </label>
  <br />
  <hr>
  <h3>Impresión</h3>
  <label><span>Encabezado informes impresos: </span>
    <textarea name="encabezado" type="text" cols="25" rows="10"
    [(ngModel)]="empresa.encabezado" required></textarea>
  </label>

  <label><span>Hora inicial de impresión [HH:mm:ss]: </span>
    <input name="horaImpresionIni" type="time" 
    [(ngModel)]="empresa.primerRegistro" required>
  </label>

  <label><span>Periodo de impresión [Minutos]: </span>
    <input name="periodoImpresion" type="number" 
    [(ngModel)]="empresa.periodo" required
    (ngModelChange)="valuechange($event)"
    >
  </label>
  
<!-- se maneja en cliente de impresion --> 
  <label style="display:none"><span>Columnas impresion: </span>
    <input name="columnas" type="number" 
    [(ngModel)]="empresa.columnasImpresion" required>
  </label>
  
  <input type="button" class="boton1" (click)="clickComprobarEspacio()" *ngIf="empresa.periodo && !configGeneralDisabled"
    value="Comprobar espacio libre" style="margin-left: 0"><br><br>
  <label style="font-weight: bold" *ngIf="msjEspacioLibre && !configGeneralDisabled">{{msjEspacioLibre}}</label>
  
  <br>
  <input type="submit" value="Guardar cambios">
  </fieldset>
</form>

<!-- abm de plantas en la misma pantalla de config. general -->
<hr>
<app-abm-planta></app-abm-planta>

<br><br>
<hr>
<app-abm-punto-sensado></app-abm-punto-sensado>

<!--ventana modal password de configuracion: reemplazar x app-modal que es mas versatil-->
<app-modal id="popup-clave" block="true">
  <div class="form-style-2">
    <form #formModal="ngForm" (ngSubmit)="validarClave()" ngNativeValidate>
      <label>Ingrese contraseña de configuración</label>
      <input name="pass1" type="password" [(ngModel)]="passConfig" required><br>
      <label>{{msjError}}</label><br>
      <input type="submit" value="Aceptar" (click)="validarClave()">
      <input type="button" value="Cancelar" (click)="volver()"> 
    </form>
  </div>
</app-modal>


