<div class="menu-bar">
<table style="width:100%; height: 80px">
  <tr>
	  <td class="menu-bar-icono">
	    <img height="60px" src="assets/images/flamenco_icono.png" style="margin-left: 20px;"/>
	  </td>
	  <td class="menu-bar-titulo">  
	    <img height="60px" src="assets/images/flamenco_titulo.png"/>
	  </td>
	  <td class="menu-bar-usuario">
	    <div>
			  <img height="32px" width="32px" src="assets/images/user_icon.png"/>
			  <span *ngIf="usuarioLogeado">{{usuarioLogeado.nombreUsuario}}</span>
			  <a [routerLink]="['/login']">
			    <img height="32px" width="32px" src="assets/images/exit_icon.png"/>
			  </a>
		  </div>
	  </td>
  </tr>
</table>
</div>