<div class="menu-bar">
  <img src="assets/images/bar.jpg" id="imagenBarra"/>
  <div class="menu-bar-icono">
    <img height="32px" width="32px"/>
  </div>
  <div class="menu-bar-titulo">  
    <img height="60px" src="assets/images/flamenco_icono.png" style="margin-right: 20px;"/>
    <img height="60px" src="assets/images/flamenco_titulo.png"/>
  </div>
  <div class="menu-bar-usuario">
    <img height="32px" width="32px" src="assets/images/user_icon.png"/>
    <span>usr_logeado</span>
  </div>
</div>