<h2>PUNTOS DE SENSADO
  <button class="boton2" (click)="onClickAlta()">
    <img src="assets/images/plus_icon.png">
  </button>
</h2>
<hr>
<table class="tabla">
  <thead>
    <tr>
      <th width="60px">
        Nombre corto
      </th>
      <th >
        Nombre registro
      </th>
      <th >
        Habilitado
      </th>
      <th >
        Descripción
      </th>
      <th>
        Planta
      </th>
      <th width="60px">
        Orden grilla
      </th>
      <th>
        Página
      </th>      
      <th width="80px">
        Orden impresión
      </th>
      <th>
        Sensor
      </th>
      <th width="160px">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor="let punto of puntosDeSensado">
      <td >
        {{punto.nombreCorto}}
      </td>
      <td >
        {{punto.nombre}}
      </td>
      <td >
        {{punto.habilitado ? 'Si' : 'No'}}
      </td>
      <td >
        {{punto.descripcion}}
      </td>
      <td >
        {{punto.planta}}
      </td>
      <td >
        {{punto.ordenGrilla}}
      </td>
      <td >
        {{punto.pagina}}
      </td>
      <td >
        {{punto.ordenImpresion}}
      </td>
      <td >
        {{punto.sensorAsociado}}
      </td>
      <td >        
        <button class="boton2" (click)="onClickModif(punto)">
          <img src="assets/images/edit_icon.png">
        </button>
        <button class="boton2" (click)="onClickBaja(punto)">
          <img src="assets/images/delete_icon.png">
        </button>
      </td>
    </tr>
  </tbody>
</table>



<!--alta / edicion-->
<app-modal id="popup-puntoDeSensado">  
  <form class="form-style-2" #formPlanta="ngForm" 
      (ngSubmit)="onSubmitPuntoDeSensado()" ngNativeValidate>
    <div style="height:80vh; min-width:700px; width:90vw; overflow-y: auto;">
	  <h2>Punto de sensado</h2>
	  <hr>
    <fieldset>
	    <label><span>Nombre: </span>
	      <input name="nombreRegistro" type="text" maxlength="10"
	      [(ngModel)]="puntoSensadoSeleccionado.nombre" required >
	    </label>
	    
	    <label><span>Nombre corto: </span>
	      <input name="nombreCorto" type="text" maxlength="5"
	      [(ngModel)]="puntoSensadoSeleccionado.nombreCorto" required >
	    </label>
	  
	    <label><span>Habilitado: </span>
	      <input name="habilitado" type="checkbox" 
	      [(ngModel)]="puntoSensadoSeleccionado.habilitado">
	    </label>
	  
	    <label><span>Descripción: </span>
	      <textarea name="nombreLargo" cols="25" rows="4"
	      [(ngModel)]="puntoSensadoSeleccionado.descripcion" required></textarea>
	    </label>
	    
	    <label><span>Orden grilla: </span>
	      <input name="ordenGrilla" type="number" min="1"
	      [(ngModel)]="puntoSensadoSeleccionado.ordenGrilla" required >
	    </label>
	    
	    <label><span>Página reporte: </span>
	      <input name="paginaReporte" type="number" min="1"
	      [(ngModel)]="puntoSensadoSeleccionado.pagina" required >
	    </label>
	    
      <label><span>Orden impresión: </span>
        <input name="ordenImpresion" type="number" min="1"
        [(ngModel)]="puntoSensadoSeleccionado.ordenImpresion" required >
      </label>
	    
	    <label><span>Planta: </span>
	      <select name="planta" [(ngModel)]="plantaSeleccionada" [compareWith]="compareFn" required>
	        <option [ngValue]="undefined" disabled>--Seleccionar planta--</option>
	        <option  *ngFor="let planta of plantas" [ngValue]="planta">
	          {{planta.nombre}}
	        </option>
	      </select>
	    </label>
	    
	    <app-plano-modif *ngIf="!resetPlanoModif"
	      [planta]="plantaSeleccionada"
	      [puntoSensado]="puntoSensadoSeleccionado">
	    </app-plano-modif>
	    </fieldset>
    </div>
    <hr>
	  <div style="text-align:right">
	    <input type="submit" class="boton1" value="Aceptar">
	    <button type="button" class="boton1" (click)="onCancelar('popup-puntoDeSensado')">Cancelar</button>
	  </div>    
  </form>  
</app-modal>

<!-- popup eliminar (si, no) -->
<app-modal id="popup-eliminar-puntoDeSensado">
  <p>¿Esta seguro que desea eliminar el punto de sensado del sistema?</p>
  <div style="text-align:center">
    <button class="boton1" (click)="deletePuntoDeSensado()">Si</button>
    <button class="boton1" (click)="onCancelar('popup-eliminar-puntoDeSensado')">No</button>
  </div>
</app-modal>
