img.off {
	-webkit-filter: drop-shadow(0px 0px 2px #0c0);
	filter: drop-shadow(-2px 0px 0px #0c0);
	vertical-align:middle;
  transform: translateY(-2px);
}
img.on {
  -webkit-filter: drop-shadow(0px 0px 2px #0a0);
  filter: drop-shadow(2px 0px 0px #0c0);
  vertical-align:middle;
  transform: translateY(-2px);
}

img.off:hover {
	filter:none;
}
	
img.on:hover {
	filter:none;
}
img {
	padding-left: 0;
}