img.off:hover {
	-webkit-filter: drop-shadow(0px 0px 2px #0c0);
	filter: drop-shadow(0px 0px 2px #0a0);
	vertical-align:middle;
  transform: translateY(-2px);
}
img.on:hover {
  -webkit-filter: drop-shadow(0px 0px 2px #c00);
  filter: drop-shadow(0px 0px 2px #a00);
  vertical-align:middle;
  transform: translateY(-2px);
}