<h2>Estado actual</h2>
<hr>
<table class="tabla">
  <thead>
    <tr>
      <th >
        Nombre corto
      </th>
      <th >
        Nombre largo
      </th>
      <th >
        Temperatura
      </th>
      <th >
        Estado
      </th>
      <th >
        Relé E1
      </th>
      <th >
        Relé E2
      </th>
      <th >
        Relé S1
      </th>
      <th >
        Relé S2
      </th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor = "let estado of estadoActual">
      <td >
        {{estado.nombreCorto}}
      </td>
      <td >
        {{estado.nombreLargo}}
      </td>
      <td >
        {{estado.valor}}
      </td>
      <td >
        ok
      </td>
      <td >
        {{estado.estadoR1E ? 'On' : 'Off'}}
      </td>
      <td >
        {{estado.estadoR2E ? 'On' : 'Off'}}
      </td>
      <td *ngIf = "estado.estadoR1S; then thenBlock; else elseBlock">
      </td>
      <td *ngIf = "estado.estadoR2S; then thenBlock; else elseBlock">        	
      </td>
      
      <ng-template #thenBlock>
      	<td>
        	<img class="on" src="assets/images/switchOn.png" height="30px">
        </td>
      </ng-template>
      <ng-template #elseBlock>
      	<td>
        	<img class="off" src="assets/images/switchOff.png" height="30px">
        </td>
      </ng-template>
      
    </tr>
  </tbody>
</table>