<h2>Estado actual</h2>
<hr>
<table class="tabla">
  <thead>
    <tr >
      <th style="width: 60px;">
        Estado
      </th>
      <th style="width:1px;">
        Nombre corto
      </th>
      <th style="width:1px;">
        Temperatura
      </th>
      <th style="width:1px;">
        Relé E1
      </th >
      <th style="width:1px;">
        Relé E2
      </th>
      <th style="width: 66px;">
        Relé <br>S1
      </th>
      <th style="width: 66px;">
        Relé <br>S2
      </th>
      <th >
        Nombre largo
      </th>
    </tr>
  </thead>
  <tbody>  
    <ng-container *ngFor = "let estado of estadoActual">
	    <tr *ngIf = "estado" style="height:50px" >
	    <!-- [class]="estado.idPuntoSensado && estaEnAlarma(estado.idPuntoSensado)==true ? 'alarma' : 'ok'" -->      
        <td style="padding-left:20px" class="status">
          <img *ngIf="!estado.valor" src="assets/images/status/DESC.png" height="30px">
          <img *ngIf="estado.valor && estaEnAlarma(estado.idPuntoSensado)" src="assets/images/status/MALB.png" height="30px">
          <img *ngIf="estado.valor && !estaEnAlarma(estado.idPuntoSensado)" src="assets/images/status/BIEN.png" height="30px">
        </td>
	      <td >
	        {{estado.nombreCorto}}
	      </td>
	      <td *ngIf = "estado.valor">
	        {{estado.valor.toFixed(1)}}&nbsp;ºC
	      </td>
	      <td *ngIf = "!estado.valor">
          ---
        </td>
	      <td >
	        {{estado.estadoR1E ? 'ON' : 'OFF'}}
	      </td>
	      <td >
	        {{estado.estadoR2E ? 'ON' : 'OFF'}}
	      </td>
	      <td *ngIf = "estado.valor && mapReles.get(estado.idPuntoSensado) && mapReles.get(estado.idPuntoSensado)[0]; then thenBlock1; else elseBlockA">          
	      </td>
	      <td *ngIf = "estado.valor && mapReles.get(estado.idPuntoSensado) && mapReles.get(estado.idPuntoSensado)[1]; then thenBlock2; else elseBlockB">        	
	      </td>
	      <td >
	        {{estado.nombreLargo}}
	      </td>
	      
	      <ng-template #thenBlock1>
	      	<td *ngIf = "estado.estadoR1S; else elseBlock1" style="text-align:center;">
	        	<img class="on" src="assets/images/switchOn.png" height="30px"
	        	 (click)="desactivarRele(estado.idPuntoSensado, 0)">
	        </td>
		      <ng-template #elseBlock1>
		      	<td style="text-align:center;">
		        	<img class="off" src="assets/images/switchOff.png" height="30px"
		        	(click)="activarRele(estado.idPuntoSensado, 0)">
		        </td>
		      </ng-template>
	      </ng-template>
	      <ng-template #thenBlock2>
	        <td *ngIf = "estado.estadoR2S; else elseBlock2" style="text-align:center;">
	          <img class="on" src="assets/images/switchOn.png" height="30px"
	           (click)="desactivarRele(estado.idPuntoSensado, 1)">
	        </td>
	        <ng-template #elseBlock2>
	          <td style="text-align:center;">
	            <img class="off" src="assets/images/switchOff.png" height="30px"
	            (click)="activarRele(estado.idPuntoSensado, 1)">
	          </td>
	        </ng-template>
	      </ng-template>
	      
	      <ng-template #elseBlockA>
	        <td style="text-align:center;">
	          {{estado.estadoR1S ? 'ON' : 'OFF'}}
	        </td>
	      </ng-template>
	      <ng-template #elseBlockB>
	        <td style="text-align:center;">
	          {{estado.estadoR2S ? 'ON' : 'OFF'}}
	        </td>
	      </ng-template>
	      
	    </tr>
    </ng-container>
  </tbody>
</table>