p, a {
  font-family: Lato;
}

#contenido {
  padding: 0 20px;
  margin:0px 8px 0px 110px; 
  min-height:600px;
}

#footer {
//  background-color: #222;
  position:absolute;
  height: 50px;
  width: 100%;
  color: #aaa;
}

