<div class="div-navbar"></div>
<nav class="navbar navbar-light bg-faded">
    <a class="nav-link" 
      [routerLink]="['estado-grilla']" [routerLinkActive]="['active']">
      Grilla
    </a>
    <a class="nav-link"  
      [routerLink]="['estado-plano']" [routerLinkActive]="['active']">
      Plano
    </a>
    <a class="nav-link"  
      [routerLink]="['config-MAS']" [routerLinkActive]="['active']">
      Configurar módulos
    </a>
    <a class="nav-link"  
      [routerLink]="['estadisticas']" [routerLinkActive]="['active']">
      Estadisticas temperatura
    </a>
    <a class="nav-link"  
      [routerLink]="['admin-usuarios']" [routerLinkActive]="['active']">
      Administrar usuarios
    </a>
    <a class="nav-link"  
      [routerLink]="['config-general']" [routerLinkActive]="['active']">
      Configuración general
    </a>
</nav>