<h3>Automatización de reles del sensor {{sensor.mac}} - {{sensor.nombreAbreviado ? sensor.nombreAbreviado : "No ubicado"}}</h3>

<form class="form-style-2">
    <div>Relé de salida:</div>
    <span>
      <label class="radio1">
        <input name="rSalida" type="radio" (click)="seleccionarRele(1)" checked>Número 1
      </label>
      <label class="radio1">
        <input name="rSalida" type="radio" (click)="seleccionarRele(2)">Número 2
      </label>
    </span><br/><br/>
    
    <div style="display:inline-block;">Modo de activación en uso: 
    {{tipoComportamientoActivo[numeroRele-1]==MANUAL ? 'Manual' : 
      tipoComportamientoActivo[numeroRele-1]==UMBRAL ? 'Por temperatura' : 
      'Por temporización'}}
    </div>
</form>
   
<form class="form-style-2">
  <hr/>
    <div>Modo de activación:<br/></div>
    <span>
      <label class="radio1">
        <input name="comp" type="radio" [value]="MANUAL" 
            [(ngModel)]="tipoComportamiento[numeroRele-1]" checked>
        Manual
      </label>
      <label class="radio1">
        <input name="comp" type="radio" [value]="UMBRAL" 
            [(ngModel)]="tipoComportamiento[numeroRele-1]" >
        Por temperatura
      </label>
      <label class="radio1">
        <input name="comp" type="radio" [value]="HORA" 
            [(ngModel)]="tipoComportamiento[numeroRele-1]" >
        Por temporización
      </label>
    </span>
</form>   
   
<form class="form-style-2" #formCompUmbral="ngForm" ngNativeValidate
    (ngSubmit)="cambiarTipoComportamiento()"
    [style.display]="tipoComportamiento[numeroRele-1]==UMBRAL ? 'block' : 'none'">
  <h3>Por temperatura</h3>
  <fieldset>
	  <label><span>Umbral inferior: </span>
	    <input name="umbralInf" type="number" step="0.01" required
	        [(ngModel)]="cUmbralSeleccionado.umbralInf">
	  </label>
	    
	  <label><span>Umbral superior: </span>
	    <input name="umbralSup" type="number" step="0.01" required
	        [(ngModel)]="cUmbralSeleccionado.umbralSup">
	  </label>
	  
	  <label><span>Habilitar activación por relé de entrada: </span>
	    <input name="re-habilitado" type="checkbox"
	        [(ngModel)]="cUmbralSeleccionado.habilitarContEntrada">
	  </label>
	  <fieldset [disabled]="!cUmbralSeleccionado.habilitarContEntrada">
	    <label><span>Relé de entrada: </span>        
	      <label class="radio1"><input name="re" type="radio" [value]="false"
	          [(ngModel)]="cUmbralSeleccionado.contactorEntrada">Número 1</label>
	      <label class="radio1"><input name="re" type="radio" [value]="true"
	          [(ngModel)]="cUmbralSeleccionado.contactorEntrada">Número 2</label>
	    </label>  
	      
	    <label><span>Activación por relé entrada y umbral: </span>
	      <label class="radio1"><input name="and" type="radio" [value]="false" checked
	          [(ngModel)]="cUmbralSeleccionado.condicionY">Cualquiera de los dos</label>
	      <label class="radio1"><input name="and" type="radio" [value]="true"
	          [(ngModel)]="cUmbralSeleccionado.condicionY">Ambos a la vez</label>
	    </label>  
	  </fieldset>
  </fieldset>  
  <br/><br/>
  <input type="submit" class="boton1" value="Confirmar cambio">
</form>
 
<form class="form-style-2" #formCompHora="ngForm" ngNativeValidate
    (ngSubmit)="cambiarTipoComportamiento()"
    [style.display]="tipoComportamiento[numeroRele-1]==HORA ? 'block' : 'none'">
  <h3>Por temporización</h3>
  <fieldset>
	  <label><span>Hora de inicio de automatización: </span>
	    <input name="horaIni" type="time" step="1" required
	        [(ngModel)]="cHoraSeleccionado.horaInicio">
	  </label>
	  
	  <label><span>Hora de fin de automatización: </span>
	    <input name="horaFin" type="time" step="1" required
	        [(ngModel)]="cHoraSeleccionado.horaFin">
	  </label>
	 
	  <label style="display:none"><span>Periodo de activación: </span>
	    <input name="periodo" type="time" step="1" required
	        [(ngModel)]="cHoraSeleccionado.periodo">
	  </label>
	  
	  <label><span>Habilitar activación por relé de entrada: </span>
      <input name="re-habilitado2" type="checkbox"
          [(ngModel)]="cHoraSeleccionado.habilitarContEntrada">
    </label>
    <fieldset [disabled]="!cHoraSeleccionado.habilitarContEntrada">
      <label><span>Relé de entrada: </span>        
        <label class="radio1"><input name="re2" type="radio" [value]="false"
            [(ngModel)]="cHoraSeleccionado.contactorEntrada">Número 1</label>
        <label class="radio1"><input name="re2" type="radio" [value]="true"
            [(ngModel)]="cHoraSeleccionado.contactorEntrada">Número 2</label>
      </label>  
        
      <label><span>Activación por relé entrada y umbral: </span>
        <label class="radio1"><input name="and2" type="radio" [value]="false" checked
            [(ngModel)]="cHoraSeleccionado.condicionY">Cualquiera de los dos</label>
        <label class="radio1"><input name="and2" type="radio" [value]="true"
            [(ngModel)]="cHoraSeleccionado.condicionY">Ambos a la vez</label>
      </label>  
    </fieldset>
  </fieldset>
  <br/><br/>
  <input class="boton1" type="submit" value="Confirmar cambio">
</form>

<button *ngIf="tipoComportamiento[numeroRele-1]==MANUAL 
    && (cHoraS[numeroRele-1].habilitado || cUmbralS[numeroRele-1].habilitado)" 
    class="boton1" (click)="cambiarTipoComportamiento()">
  Confirmar cambio
</button>