<h2>Configuracion MAS</h2>
<hr>
<div *ngIf = "!vistaAlarmas && !vistaComportamientos">
<h3>Sensores 
  <button class="boton2" (click)="onClickAlta()">
    <img src="assets/images/plus_icon.png" height="30px">
  </button>
</h3>
<table class="tabla">
  <thead>
    <tr>
      <th>
        Planta
      </th>
      <th style="width:1px;">
        Nombre corto
      </th>
      <th style="width:1px;">
        Habilitado
      </th>
      <th >
        Ubicacion
      </th>
      <th style="width:1px;">
        Minutos muestreo
      </th>
      <th style="width:1px;">
        Delta muestreo
      </th>
      <th>
        MAC
      </th>
      <th>
        Coordinador
      </th>
      <th style="width:150px; min-width:150px;">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor="let sensor of sensores">
      <td >
        {{sensor.planta}}
      </td>
      <td >
        {{sensor.nombreAbreviado}}
      </td>
      <td >
        {{sensor.habilitado ? 'Si' : 'No'}}
      </td>
      <td >
        {{sensor.descripcionUbicacion}}
      </td>
      <td >
        {{sensor.minutosMuestreo}}
      </td>
      <td >
        {{sensor.deltaMuestreo}}
      </td>
      <td >
        {{sensor.mac}}
      </td>
      <td >
        {{sensor.macDelCoordinador}}
      </td>
      <td >
        <button class="boton2" (click)="onClickModif(sensor)">
          <img src="assets/images/edit_icon.png" height="30px">
        </button>
        <button class="boton2" (click)="onClickAlertas(sensor)">
          <img src="assets/images/alert_icon.png" height="30px">
        </button>
        <button class="boton2" (click)="onClickComportamientos(sensor)">
          <img src="assets/images/comportamientos.png" height="30px">
        </button>
        <button class="boton2" (click)="onClickBaja(sensor)">
          <img src="assets/images/delete_icon.png" height="30px">
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-modal id="popup-sensor">
  
	<form class="form-style-2" #formMas="ngForm" (ngSubmit)="onSubmitSensor()" ngNativeValidate>
	  <div style="height:80vh; width:60vw; overflow-y: auto" >
	  <h2>Configuración general</h2> 
    <hr>
    <fieldset>
	  <label><span>Habilitado: </span>
	    <input name="habilitado" type="checkbox"
	    [(ngModel)]="sensorSeleccionado.habilitado" >
	  </label>
	
	  <label><span>MAC: </span>
	    <input name="mac" type="text" required
	    [(ngModel)]="sensorSeleccionado.mac" >
	  </label>
	  
	  <label><span>IP Coordinador: </span>
	    <input name="mac-coordinador" type="text" required
	    [(ngModel)]="sensorSeleccionado.macDelCoordinador" >
	  </label>
	      
	  <label><span>Punto de sensado: </span>
	    <select name="puntoDeSensado" [(ngModel)]="puntoSensadoSeleccionado"
	          [compareWith]="compareFn">
	      <option [ngValue]="undefined" disabled selected>-- Seleccionar punto de sensado --</option>
	      <option *ngFor="let puntoDeSensado of puntosDeSensado" 
	          [ngValue]="puntoDeSensado">
          {{puntoDeSensado.nombreCorto}}
        </option>
	    </select>
	  </label>
	  
	  <label><span>Ubicación: </span>
	    <textarea name="ubicacion" maxlength="100" rows="4" required
	    [(ngModel)]="sensorSeleccionado.descripcionUbicacion">
	    </textarea>
	  </label>
	
	  <h3>Muestreo en la nube</h3>
	  <label><span>Intervalo: </span>
	    <input name="muestreo-tiempo" type="number" min="0" required
	    [(ngModel)]="sensorSeleccionado.minutosMuestreo">
	  </label>      
	  
	  <label><span>Variación de temperatura: </span>
	    <input name="muestreo-delta" type="number" step="0.01" min="0" required
	    [(ngModel)]="sensorSeleccionado.deltaMuestreo">
	  </label>
	  </fieldset>
	  </div>
	  
	  <hr>
    <div style="text-align:right">
      <input type="submit" value="Aceptar">
      <button type="button" class="boton1" (click)="onCancelar('popup-sensor')">Cancelar</button>
    </div>
	</form>	 
	  
</app-modal>

<!-- popup eliminar (si, no) -->
<app-modal id="popup-eliminar-sensor">
  <p>¿Esta seguro que desea eliminar el sensor del sistema? <br><br>
  Solo es posible eliminar aquellos sensores que no tengan mediciones registradas.
  </p>
  <div style="text-align:center">
    <button class="boton1" (click)="deleteSensor()">Si</button>
    <button class="boton1" (click)="onCancelar('popup-eliminar-sensor')">No</button>
  </div>
</app-modal>

<button (click)="onClickBack()" class="boton2" 
    *ngIf = "vistaAlarmas || vistaComportamientos">
  <img src="assets/images/back_icon.png" height="30px"/>
</button>

<app-abm-alarma 
*ngIf="vistaAlarmas"
[sensor]="sensorSeleccionado">
</app-abm-alarma>

<app-abm-comportamientos
*ngIf="vistaComportamientos"
[sensor]="sensorSeleccionado">
</app-abm-comportamientos>
