<h2>Estadisticas</h2>
<hr/>

<form class="form-style-2" (ngSubmit)="generarCurva()" style="display:inline-block">
	<label>
	  <span>Punto de sensado:  </span>
	
	<select name="punto" class="form-style-2" [(ngModel)]="puntoDeSensadoSeleccionado" required>
		<option disabled checked selected>--Seleccionar punto de sensado--</option>
		<option *ngFor="let puntoDeSensado of puntosDeSensado" [ngValue]="puntoDeSensado">
		  {{puntoDeSensado.nombreCorto}}: 
		    {{puntoDeSensado.planta}} - {{puntoDeSensado.descripcion}}
		</option>
	</select>
	</label>
	<label><span>Fecha de inicio: </span>
	  <input name="fechaIni" type="date" [(ngModel)]="fechaInicio" required>
	</label>
	
	<label><span>Fecha de fin: </span>
	  <input name="fechaFin" type="date" [(ngModel)]="fechaFin" required>
	</label>
	<br><br>
	
	<input type="submit" value="Mostrar gráfica" 
	   *ngIf="puntoDeSensadoSeleccionado && fechaInicio && fechaFin">
</form>

<div id="divCurva" style="display: block; width:80vw; height:530px; overflow-x: auto; overflow-y: hidden"
    [style.visibility]="mostrarCurva">
  <p *ngIf="lecturas && lecturas.length < 1" 
      style="text-align: center; font-size:1.5em;">No se encontraron mediciones</p>
  <div style="position:relative; top:0; left:20px;"
      [style.width.px]="widthCurva">
    <canvas baseChart 
	                height="500px" 
	                [datasets]="lineChartData"
	                [labels]="lineChartLabels"
	                [options]="lineChartOptions"
	                [colors]="lineChartColors"
	                [legend]="lineChartLegend"
	                [chartType]="lineChartType"
	                (chartHover)="chartHovered($event)"
	                (chartClick)="chartClicked($event)">
	  </canvas>
  </div>
</div>

<!-- ejemplo boton de scroll, cuando haya tiempo agregar con animacion para suavizar movimiento  
<button onClick=
	"document.getElementById('divCurva').scrollLeft += 500; console.log(document.getElementById('divCurva'));"
	>Scroll derecha</button>
 -->	